:root {
    --primary-color: #1B98E0;
    --text-dark: #333;
    --border: #e0e0e0;
    --headline: "Patrick Hand", Arial, Helvetica, sans-serif;
    --body: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body);
    color: var(--text-dark);
    margin: 0 auto;
    width: 90%;
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.logo-title img {
    height: 50px;
}

header h1 {
    font-family: var(--headline);
    color: var(--text-dark);
    font-size: 4rem;
    margin: .2rem;
}

#searchForm {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

#searchForm input {
    flex: 1;
    border: 1px solid var(--border);
    border-radius: 5px 0 0 5px;
    padding: .8rem;
    font-size: 1rem;
}

#searchForm button {
    border: 1px solid var(--border);
    border-radius: 0 5px 5px 0;
    padding: .8rem;
    background: #f8f8f8;
    font-size: 1.2rem;
    cursor: pointer;
}

#searchForm button img {
    height: 20px;
}

#recipes {
    margin: 2rem 0 0 0;
    width: 100%;
}

.recipe-card {
    border: 1px solid var(--border);
    border-radius: 6px;
    margin-bottom: 2rem;
    background: #fafafd;
    display: flex;
    flex-direction: column;
}

.recipe-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.recipe-info {
    padding: 1rem;
}

.recipe-tags {
    margin-bottom: .5em;
}

.recipe-tag {
    border: 1px solid #000;
    padding: .3em;
    font-size: .8em;
    display: inline-block;
}

.recipe-title {
    color: var(--primary-color);
    font-family: var(--headline);
    font-size: 1.8rem;
    margin-bottom: .5em;
}

.recipe-rating {
    margin-bottom: .3em;
    color: #d5a000;
    font-size: 1.2rem;
}

.recipe-desc {
    display: none;
    color: var(--text-dark);
}

footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 2rem;
    gap: 1rem;
}

.social {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social img {
    height: 30px;
}

.attribution {
    font-size: 0.6em;
    color: var(--text-dark);
}

@media (min-width: 900px) {
    body {
        width: 70%;
    }

    .recipe-card {
        flex-direction: row;
        min-height: 240px;
        width: 100%;
        margin-bottom: 2rem;
    }

    .recipe-card img {
        width: 320px;
        height: 100%;
        object-fit: cover;
        border-radius: 6px 0 0 6px;
    }

    .recipe-info {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
    }

    .recipe-desc {
        display: block;
        margin-top: 1em;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
}